/* Reset Css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: "Rufina", serif;
  font-size: 16px;
}
#header .container {
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #dedede;
  margin-bottom: 30px;
}
#header .logo h1 {
  font-size: 36px;
}
#header .menu nav ul {
  display: flex;
  align-items: center;
}
#header .menu nav ul li {
  margin-left: 15px;
}
#header .menu nav ul li a {
  color: #000;
}
#content .container {
  padding: 0 !important;
}
#content .content-item {
  overflow: hidden;
  cursor: pointer;
}
#content .content-item {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  margin: 0 15px;
  margin-bottom: 30px;
}
#content .content-item .item-image {
  width: 100%;
  height: 100%;
}
#content .content-item .item-image img {
  width: 100%;
  height: 100%;
  transition: 300ms all;
  object-fit: cover;
  object-position: center;
}
#content .content-item:hover img {
  transform: scale(1.2);
}

#content .content-item .detail {
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#content .content-item .detail h2 {
  margin-top: auto;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}

#content .content-item .detail strong {
  font-size: 14px;
  font-weight: 400;
  color: #dedede;
}
/* Grid System */

#content .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 25%);
  grid-auto-rows: 10px;
}
.small {
  grid-row-end: span 26;
}
.mid {
  grid-row-end: span 33;
}
.large {
  grid-row-end: span 45;
}
.x-large {
  grid-row-end: span 65;
}
